<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather</title>
  
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/weather.css">
  <!-- Linking BoxIcon for Icon -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">

</head>

<body>
  <!-- Menubar -->
  <header class="menubar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Krishak Vriddhi🍃</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{{url_for('home')}}">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Prediction
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('crop_recommend')}}">Crops</a></li>
                <li><a class="dropdown-item" href="{{url_for('fertilizer_recommend')}}">Fertilizers</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Remind Me
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('spraying')}}">Spraying</a></li>
                <li><a class="dropdown-item" href="{{url_for('schedule')}}">Schedule Event</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('weather')}}">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
            </li>
          </ul>
          <div id="google_translate_element"></div>
        <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
          <button type="button" class="btn btn-outline-light  my-2 mx-2" id="closeNav">Set Navbar</button>
            <script>
                   document.querySelector('#google_translate_element').addEventListener('click', margin_top)
              function margin_top(){
                document.getElementById("navbar").style.marginTop = "40px";
              }
              document.querySelector('#closeNav').addEventListener('click',margin_cancel)
              function margin_cancel(){
                document.getElementById("navbar").style.marginTop="0";
              }
              
      
    </script>
          

          <form class="d-flex search" role="search" method="POST" action="{{ url_for('otherCity') }}"> 
            <input class="form-control me-2 mx-1 my-1" type="search" placeholder="Search City" name="CityName">
            <button class="btn btn-outline-success " type="submit">search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  
  <form method="POST" action="{{ url_for('weather') }}">
    <div class="container">
      <div class="current-info">

        <div class="date-container">
          <div class="time" id="time">
            12:30 <span id="am-pm">PM</span>
          </div>
          <div class="date" id="date">
            Monday, 30 January
          </div>

          <div class="others" id="current-weather-items">


          </div>
        </div>

        <div class="place-container">
          <div class="time-zone" id="time-zone">Asia/Kolkata</div>
          <div id="country" class="country">IN</div>
          <!-- <div id="city" class="city">Weather in Delhi</div> -->
        </div>
      </div>


    </div>

    <div class="future-forecast">
      <div class="today" id="current-temp">
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
        <div class="other">
          <div class="day">Monday</div>
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>
      </div>

      <div class="weather-forecast" id="weather-forecast">
        <div class="weather-forecast-item">
          <div class="day">Tue</div>
          <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>
        <div class="weather-forecast-item">
          <div class="day">Wed</div>
          <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>
        <div class="weather-forecast-item">
          <div class="day">Thur</div>
          <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>
        <div class="weather-forecast-item">
          <div class="day">Fri</div>
          <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>
        <div class="weather-forecast-item">
          <div class="day">Sat</div>
          <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
          <div class="temp">Night - 25.6&#176; C</div>
          <div class="temp">Day - 35.6&#176; C</div>
        </div>

      </div>
    </div>
</form>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="/static/scripts/weather.js" defer></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>